:root{
    --color-button: #BFCFE7;
    --color-button-hover: #525CEB;
    --color-background: #525CEB;
    --color-btn-inicio: #3D3B40;
    --color-difucion:#3d3b40b0;
}
body {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }
.fondo{
  background-color: var(--color-background);
}
.tit{
  color:  var(--color-button) !important;
}
.btn-text {
  color:  var(--color-button) !important;
}
.btn-app:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px var(--color-difucion);
}
.btn-inicio{
  background-color: var(--color-btn-inicio) !important;
  
}
.btn-inicio:hover{
      background-color: var(--color-button-background) !important;
      transform: scale(0.95);
      box-shadow: 0 0 10px var(--color-difucion);
}